@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap");

.App {
  text-align: center;
}

.App-play-button,
.App-pause-button {
  height: 128px;
  width: 128px;
  cursor: pointer;
}

.App-loading-icon {
  height: 200px;
  width: 200px;
}

.App-alpha-container {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.App-alpha {
  font-size: 8em;
  font-family: "Baloo Tamma 2", sans-serif;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@media only screen and (max-width: 768px) {
  .App-alpha-container {
    height: 50vh;
  }
}
